APP_NAME=
APP_ENV=
APP_PATH='apps/admin'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_SCHEMA=
APP_DATABASE_DATABASE=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_admin
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_admin
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_SEND_CODE_EMAIL_FROM=
APP_SEND_CODE_EMAIL_TAG=
APP_SEND_CODE_RANDOM_NUMBER_SIZE=
APP_SEND_CODE_TOKEN_ATTEMPT=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=
