APP_NAME=
APP_ENV=
APP_PATH='apps/api-jira'

APP_API_KEY=

APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_api_jira
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_api_jira
APP_DATABASE_SSL=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
APP_LOG_SPACE=
APP_LOG_DEPTH=

# PixInfraction

APP_JIRA_INFRACTION_CUSTOM_FIELD_OPERATION_ID=
APP_JIRA_INFRACTION_CUSTOM_FIELD_INFRACTION_ID=

APP_JIRA_INFRACTION_CUSTOM_FIELD_RESOLUTION=
APP_JIRA_INFRACTION_CUSTOM_FIELD_RESOLUTION_DETAILS=
APP_JIRA_INFRACTION_CUSTOM_FIELD_RESOLUTION_AGREE=
APP_JIRA_INFRACTION_CUSTOM_FIELD_RESOLUTION_DISAGREE=

APP_JIRA_INFRACTION_CUSTOM_FIELD_REASON=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REASON_FRAUD=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REASON_REQUEST_REFUND=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REASON_CANCEL_DEVOLUTION=

APP_JIRA_INFRACTION_STATUS_CLOSED=
APP_JIRA_INFRACTION_STATUS_CANCELLED=
APP_JIRA_INFRACTION_STATUS_NEW=
APP_JIRA_INFRACTION_STATUS_OPENED=
APP_JIRA_INFRACTION_STATUS_IN_ANALYSIS=

# PixRefund

APP_JIRA_REFUND_CUSTOM_FIELD_OPERATION_ID=

APP_JIRA_REFUND_CUSTOM_FIELD_RESOLUTION=
APP_JIRA_REFUND_CUSTOM_FIELD_RESOLUTION_DETAILS=
APP_JIRA_REFUND_CUSTOM_FIELD_RESOLUTION_ACCOUNT_CLOSURE=
APP_JIRA_REFUND_CUSTOM_FIELD_RESOLUTION_CANNOT_REFUND=
APP_JIRA_REFUND_CUSTOM_FIELD_RESOLUTION_NO_BALANCE=
APP_JIRA_REFUND_CUSTOM_FIELD_RESOLUTION_OTHER=

APP_JIRA_REFUND_CUSTOM_FIELD_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_FRAUD_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_OPERATION_FLAW_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_CANCELLED_REASON=

APP_JIRA_REFUND_STATUS_CLOSED=
APP_JIRA_REFUND_STATUS_CANCELLED=

# UserLimit

APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_USER_LIMIT_REQUEST_ID=

APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_RESOLUTION=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_RESOLUTION_APPROVED=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_RESOLUTION_REJECTED=

APP_JIRA_USER_LIMIT_REQUEST_STATUS_CLOSED=

# WarningTransaction

APP_JIRA_WARNING_TRANSACTION_CUSTOM_FIELD_RESOLUTION=
APP_JIRA_WARNING_TRANSACTION_CUSTOM_FIELD_RESOLUTION_APPROVED=
APP_JIRA_WARNING_TRANSACTION_CUSTOM_FIELD_RESOLUTION_REJECTED=
APP_JIRA_WARNING_TRANSACTION_STATUS_CLOSED=
APP_JIRA_WARNING_TRANSACTION_CUSTOM_FIELD_OPERATION_ID=
APP_JIRA_WARNING_TRANSACTION_CUSTOM_FIELD_REPLY_MESSAGE=

# User withdraw setting request
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_CUSTOM_FIELD_RESOLUTION=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_CUSTOM_FIELD_RESOLUTION_APPROVED=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_CUSTOM_FIELD_RESOLUTION_REJECTED=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_STATUS_CLOSED=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_CUSTOM_FIELD_USER_WITHDRAW_SETTING_REQUEST_ID=

APP_BUGSNAG_API_KEY=

#PixFraudDetection
APP_JIRA_FRAUD_DETECTION_STATUS_REGISTERED=
APP_JIRA_FRAUD_DETECTION_STATUS_CANCELLED=
APP_JIRA_FRAUD_DETECTION_CUSTOM_FIELD_DOCUMENT=
APP_JIRA_FRAUD_DETECTION_CUSTOM_FIELD_KEY=
APP_JIRA_FRAUD_DETECTION_CUSTOM_FIELD_FRAUD_TYPE=
APP_JIRA_FRAUD_DETECTION_CUSTOM_FIELD_FRAUD_TYPE_FALSE_IDENTIFICATION=
APP_JIRA_FRAUD_DETECTION_CUSTOM_FIELD_FRAUD_TYPE_DUMMY_ACCOUNT=
APP_JIRA_FRAUD_DETECTION_CUSTOM_FIELD_FRAUD_TYPE_FRAUDSTER_ACCOUNT=
APP_JIRA_FRAUD_DETECTION_CUSTOM_FIELD_FRAUD_TYPE_OTHER=