APP_NAME=
APP_ENV=
APP_PATH='apps/api-open-banking'

APP_PORT=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_BUGSNAG_API_KEY=

APP_JWKS_FILE_PATH='apps/api-open-banking/assets/jwks-homolog.json
