APP_NAME=
APP_ENV=
APP_PATH='apps/api-admin'

# JWT secret
APP_JWT_TOKEN=
APP_JWT_EXPIRES_IN=
APP_JWT_VERSION=

APP_PORT=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_STORAGE_BASE_URL=
APP_STORAGE_EXCHANGE_CONTRACT_FOLDERNAME=exchange-contracts

APP_BUGSNAG_API_KEY=
