APP_NAME=
APP_ENV=
APP_PATH='apps/api-topazio'
APP_TRANSLATE_PATH='apps/api-topazio/assets/i18n'

APP_API_KEY=
APP_ZROBANK_ISPB=

APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_api_topazio
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_api_topazio
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

# Pix statements sync
APP_SYNC_PIX_STATEMENT_CRON=
APP_SYNC_PIX_STATEMENT_INTERVAL_DAYS=

# Topazio auth service config
APP_TOPAZIO_AUTH_BASE_URL=
APP_TOPAZIO_AUTH_CLIENT_ID=
APP_TOPAZIO_AUTH_CLIENT_SECRET=

APP_BUGSNAG_API_KEY=

APP_UPDATE_PIX_STATEMENT_END_TO_END_ID_FILTER=

# Check is running cron
APP_SYNC_PIX_STATEMENT_REDIS_KEY=
APP_SYNC_PIX_STATEMENT_REDIS_LOCK_TIMEOUT=
APP_SYNC_PIX_STATEMENT_REDIS_REFRESH_INTERVAL=

APP_UPDATE_PIX_STATEMENT_REDIS_KEY=
APP_UPDATE_PIX_STATEMENT_REDIS_LOCK_TIMEOUT=
APP_UPDATE_PIX_STATEMENT_REDIS_REFRESH_INTERVAL=

# Jdpi service config
APP_JDPI_BASE_URL=http://localhost:7010/jdpi
APP_JDPI_AUTH_CLIENT_ID=secret
APP_JDPI_AUTH_CLIENT_SECRET=secret
