APP_NAME=
APP_ENV=
APP_PATH=
APP_PORT=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_BUGSNAG_API_KEY=
