APP_NAME=
APP_ENV=
APP_PATH='apps/api-jdpi'
APP_TRANSLATE_PATH='apps/api-jdpi/assets/i18n'
APP_PORT=3000

APP_LOG_LEVEL=debug
APP_LOG_SPACE=2

#JWT
APP_JWT_EXPIRES_IN=
APP_JWT_TOKEN=
APP_JWT_IGNORE_EXPIRATION=

# Auth Client
APP_CLIENT_ID=
APP_CLIENT_SECRET=

APP_DATABASE_HOST=localhost
APP_DATABASE_PORT=5432
APP_DATABASE_USERNAME=postgres
APP_DATABASE_PASSWORD=postgres
APP_DATABASE_DATABASE=pix
APP_DATABASE_SCHEMA=public
APP_DATABASE_LOG=true
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_api_jdpi
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_api_jdpi
APP_DATABASE_SSL=

APP_BROKER_HOSTS=localhost:9091
APP_BROKER_GROUP_ID=api_jdpi_group_id

APP_BUGSNAG_API_KEY=

APP_ZROBANK_ISPB=26264220

# default 600 seg
APP_NOTIFY_CREDIT_VALIDATION_CACHE_TTL_SEC=

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=API_JDPI

# Jdpi service config
APP_JDPI_BASE_URL=http://localhost:7010/jdpi
APP_JDPI_AUTH_CLIENT_ID=secret
APP_JDPI_AUTH_CLIENT_SECRET=secret
