APP_NAME=
APP_ENV=local
APP_PATH=apps/api-pix-zro-pay
APP_TRANSLATE_PATH=apps/api-pix-zro-pay/assets/i18n

APP_PORT=3011

APP_BROKER_HOSTS=localhost:9091
APP_BROKER_GROUP_ID=api_pix_zro_pay_group_id

APP_LOG_LEVEL=debug
APP_LOG_SPACE=2

APP_GLOBAL_THROTTLE_LIMIT=1000
APP_GLOBAL_THROTTLE_TTL=1

APP_BUGSNAG_API_KEY=11111111111111111111111111111111

APP_REDIS_HOST=localhost
APP_REDIS_KEY_PREFIX=API_PIX_ZRO_PAY
