APP_NAME=
APP_ENV=
APP_PATH=apps/api-users
APP_PORT=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=API_USERS

# Pin verification ban config.
# Number of failed verification attempts. Default 3
APP_PIN_MAX_ATTEMPTS=
# Max ban interval in minutes. Default 1024
APP_PIN_MAX_BAN_TIMEOUT_MINUTES=

APP_LOG_LEVEL=
APP_LOG_SPACE=
APP_LOG_DEPTH=

# JWT secret
APP_JWT_TOKEN=
APP_JWT_EXPIRES_IN=
APP_JWT_VERSION=
APP_JWT_CACHE_TTL_S=900

# Rate limiting
APP_GLOBAL_THROTTLE_LIMIT=
APP_GLOBAL_THROTTLE_TTL=

# Translate path
APP_TRANSLATE_PATH=apps/api-users/assets/i18n

# Token security for special clients (optional).
APP_JWT_TOKEN_V2_EXTRA=
APP_JWT_V2_EXTRA_PHONE_NUMBERS=

APP_BUGSNAG_API_KEY=

APP_OPERATION_CURRENCY_TAG=REAL

APP_GOOGLE_RECAPTCHA_PROJECT_ID=
APP_GOOGLE_RECAPTCHA_FILE_KEY_PATH=
APP_GOOGLE_RECAPTCHA_SCORE_LIMIT=

# default is 1h
APP_NONCE_GUARD_TTL_H=1

APP_REFRESH_TOKEN_TTL=2592000000
APP_API_USERS_SALT_ROUNDS=10
APP_STORAGE_BASE_URL=

APP_PAYMENTS_GATEWAY_BASE_URL=
APP_PAYMENTS_GATEWAY_API_TOKEN=

APP_CONVERSION_SYSTEM=ZROBANK
