APP_NAME=
APP_ENV=
APP_PATH='apps/api-paas'
APP_PORT=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=API_PAAS

APP_LOG_LEVEL=
APP_LOG_SPACE=
APP_LOG_DEPTH=

# JWT secret
APP_JWT_TOKEN=
APP_JWT_EXPIRES_IN=
APP_JWT_VERSION=
APP_JWT_CACHE_TTL_S=

# Translate path
APP_TRANSLATE_PATH=apps/api-paas/assets/i18n

APP_BUGSNAG_API_KEY=

APP_OPERATION_CURRENCY_TAG=REAL

APP_REFRESH_TOKEN_TTL=2592000000

# default is 1h
APP_NONCE_GUARD_TTL_H=1

APP_CONVERSION_SYSTEM=CAAS
