APP_NAME=
APP_ENV=
APP_PATH='apps/banking'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_banking
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_banking
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_ZROBANK_ISPB=

APP_SYNC_BANK_CRON=
APP_SYNC_BANK_TED_CRON=
APP_SYNC_CITY_CRON=

# Bacen Ispb file CSV url
APP_BACEN_TED_FILE_URL=https://www.bcb.gov.br/pom/spb/estatistica/port/ParticipantesSTRport.csv

# IBGE city url
APP_CITY_LIST_URL=https://servicodados.ibge.gov.br/api/v1/localidades/municipios?view=nivelado

# Operation integration for create banking ted
APP_OPERATION_CURRENCY_TAG=
APP_BANKING_TED_INTERVAL_HOUR=
APP_OPERATION_TED_DESCRIPTION=
APP_OPERATION_TED_P2P_DESCRIPTION=
APP_OPERATION_TED_TRANSACTION_TAG=
APP_OPERATION_TED_P2P_TRANSACTION_TAG=
APP_OPERATION_FAILURE_TED_DESCRIPTION=
APP_OPERATION_FAILURE_TED_TRANSACTION_TAG=
APP_ZROBANK_CODE=
APP_BANKING_TED_CALLBACK_URL=

# Topazio authentication service config
APP_TOPAZIO_AUTH_BASE_URL=
APP_TOPAZIO_AUTH_CLIENT_ID=
APP_TOPAZIO_AUTH_CLIENT_SECRET=
APP_TOPAZIO_TRANSFER_BASE_URL=

APP_BUGSNAG_API_KEY=

BANKING_APP_OPERATION_FAILURE_TED_DESCRIPTION=
BANKING_APP_OPERATION_FAILURE_TED_TRANSACTION_TAG=

APP_REDIS_HOST=

APP_SYNC_BANK_REDIS_KEY='RUNNING_CRON=SYNC_BANK'
APP_SYNC_BANK_REDIS_LOCK_TIMEOUT=3000000
APP_SYNC_BANK_REDIS_REFRESH_INTERVAL=1800000
APP_SYNC_BANK_TED_REDIS_KEY='RUNNING_CRON=SYNC_BANK_TED'
APP_SYNC_BANK_TED_REDIS_LOCK_TIMEOUT=3000000
APP_SYNC_BANK_TED_REDIS_REFRESH_INTERVAL=1800000
APP_SYNC_CITY_REDIS_KEY='RUNNING_CRON=SYNC_CITY'
APP_SYNC_CITY_REDIS_LOCK_TIMEOUT=3000000
APP_SYNC_CITY_REDIS_REFRESH_INTERVAL=1800000


# Jdpi service config
APP_JDPI_BASE_URL=http://localhost:7010/jdpi
APP_JDPI_AUTH_CLIENT_ID=secret
APP_JDPI_AUTH_CLIENT_SECRET=secret