APP_ENV=

# WARNING: DO NOT use URLs based in USA data centers such as: 
# https://testnet.binance.vision
# https://api.binance.com
# https://api3.binance.com
# wss://testnet.binance.vision


APP_BINANCE_BASE_URL=
# Available URLs:
# https://api1.binance.com - Hong Kong
# https://api2.binance.com - Taiwan

APP_BINANCE_WEBSOCKET_URL=
# Available URLs:
# wss://stream.binance.com:9443 - JAPAN
# wss://stream.binance.com:443 - JAPAN

APP_BINANCE_API_KEY=
APP_BINANCE_API_SECRET=
APP_STREAM_QUOTATIONS_CACHE_DEFAULT_TTL_MS=10000
APP_BINANCE_SUBSCRIBE_TYPE=
