APP_NAME=
APP_ENV=
APP_PATH=
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=
APP_DATABASE_SEEDERS_TABLE=
APP_DATABASE_SSL=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_JIRA_PROTOCOL=
APP_JIRA_BASE_URL=
APP_JIRA_PORT=
APP_JIRA_AUTH_USER=
APP_JIRA_AUTH_TOKEN=

# Translate path
APP_TRANSLATE_PATH=

# Jira User limit request
APP_JIRA_USER_LIMIT_REQUEST_PROJECT_ID=
APP_JIRA_USER_LIMIT_REQUEST_REPORTER_ID=
APP_JIRA_USER_LIMIT_REQUEST_ISSUE_TYPE_ID=

APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_CLOSED_STATUS=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_RECEIVED_STATUS=

APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_ID=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_USER_ID=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_USER_LIMIT_ID=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_YEARLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MONTHLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_DAILY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_NIGHTLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MAX_AMOUNT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MIN_AMOUNT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MAX_AMOUNT_NIGHTLY=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MIN_AMOUNT_NIGHTLY=

# Jira Warning Transaction
APP_JIRA_WARNING_TRANSACTION_PROJECT_ID=
APP_JIRA_WARNING_TRANSACTION_REPORTER_ID=
APP_JIRA_WARNING_TRANSACTION_ISSUE_TYPE_ID=
APP_JIRA_CUSTOM_FIELD_WARNING_TRANSACTION_OPERATION_ID=
APP_JIRA_CUSTOM_FIELD_WARNING_TRANSACTION_TRANSACTION_TAG=
APP_JIRA_CUSTOM_FIELD_WARNING_TRANSACTION_END_TO_END_ID=
APP_SYNC_WARNING_TRANSACTIONS_DUE_DATE_CRON=
APP_JIRA_WARNING_TRANSACTION_TRANSITION_CLOSE=
APP_JIRA_WARNING_TRANSACTION_TRANSITION_IN_ANALYSIS=
APP_JIRA_WARNING_TRANSACTION_STATUS_CLOSED=
APP_JIRA_WARNING_TRANSACTION_STATUS_IN_ANALYSIS=
APP_JIRA_WARNING_TRANSACTION_STATUS_NEW=
APP_JIRA_CUSTOM_FIELD_WARNING_TRANSACTION_REASON=

# Jira User withdraw setting request
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_PROJECT_ID=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_ISSUE_TYPE_ID=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_ID=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_USER_ID=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_WALLET_ID=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_TRANSACTION_TYPE_ID=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_PIX_KEY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_PIX_KEY_TYPE=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_TYPE=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_BALANCE_TYPE=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_DAILY_TYPE=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_MONTHLY_TYPE=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_WEEKLY_TYPE=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_BALANCE=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_DAY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_WEEK_DAY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_MONDAY_WEEK_DAY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_TUESDAY_WEEK_DAY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_WEDNESDAY_WEEK_DAY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_THURSDAY_WEEK_DAY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_FRIDAY_WEEK_DAY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_SATURDAY_WEEK_DAY=
APP_JIRA_USER_WITHDRAW_SETTING_REQUEST_SUNDAY_WEEK_DAY=

APP_REDIS_HOST=

APP_SYNC_WARNING_TRANSACTIONS_REDIS_KEY=
APP_SYNC_WARNING_TRANSACTIONS_REDIS_LOCK_TIMEOUT=
APP_SYNC_WARNING_TRANSACTIONS_REDIS_REFRESH_INTERVAL=
