APP_LOG_SPACE=2
APP_LOG_DEPTH=100
APP_LOG_LEVEL=debug

APP_PATH='scripts/create-kafka-topics'
APP_NAME=ZROBANK CREATE KAFKA TOPICS SCRIPTS
APP_ENV=

APP_BROKER_HOSTS=localhost:9091
APP_BROKER_GROUP_ID=create_kafka_topics_group_id
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=
