APP_ENV=
APP_LOG_LEVEL=
APP_LOG_SPACE=
APP_JIRA_PROTOCOL=
APP_JIRA_BASE_URL=
APP_JIRA_PORT=
APP_JIRA_AUTH_USER=
APP_JIRA_AUTH_TOKEN=

APP_JIRA_PROJECT_ID=
APP_JIRA_REFUND_PROJECT_ID=

APP_JIRA_REPORTER_ID=
APP_JIRA_REFUND_REPORTER_ID=

APP_JIRA_ISSUE_TYPE_ID=
APP_JIRA_REFUND_ISSUE_TYPE_ID=

APP_JIRA_CUSTOM_FIELD_OPERATION_ID=
APP_JIRA_CUSTOM_FIELD_PIX_END_TO_END_ID=
APP_JIRA_CUSTOM_FIELD_PIX_INFRACTION_ID=
APP_JIRA_CUSTOM_FIELD_PIX_INFRACTION_DEBITED_PARTICIPANT=
APP_JIRA_CUSTOM_FIELD_PIX_INFRACTION_CREDIT_PARTICIPANT=
APP_JIRA_CUSTOM_FIELD_INFRACTION_REASON=
APP_JIRA_CUSTOM_FIELD_INFRACTION_REASON_FRAUD=
APP_JIRA_CUSTOM_FIELD_INFRACTION_REASON_REQUEST_REFUND=
APP_JIRA_CUSTOM_FIELD_INFRACTION_REASON_CANCEL_DEVOLUTION=

APP_JIRA_CUSTOM_FIELD_PIX_INFRACTION_REPORTER=
APP_JIRA_CUSTOM_FIELD_PIX_INFRACTION_REPORTER_DEBITED_PARTICIPANT=
APP_JIRA_CUSTOM_FIELD_PIX_INFRACTION_REPORTER_CREBITED_PARTICIPANT=

APP_JIRA_CUSTOM_FIELD_INFRACTION_RESOLUTION=
APP_JIRA_CUSTOM_FIELD_INFRACTION_RESOLUTION_AGREE=
APP_JIRA_CUSTOM_FIELD_INFRACTION_RESOLUTION_DISAGREE=

APP_JIRA_CUSTOM_FIELD_INFRACTION_STATUS_NEW=
APP_JIRA_CUSTOM_FIELD_INFRACTION_STATUS_OPENED=
APP_JIRA_CUSTOM_FIELD_INFRACTION_STATUS_RECEIVED=
APP_JIRA_CUSTOM_FIELD_INFRACTION_STATUS_IN_ANALYSIS=
APP_JIRA_CUSTOM_FIELD_INFRACTION_STATUS_CLOSED=
APP_JIRA_CUSTOM_FIELD_INFRACTION_STATUS_ACKNOWLEGED=

# Jira Refund Custom Fields

APP_JIRA_REFUND_CUSTOM_FIELD_END_TO_END_ID=
APP_JIRA_REFUND_CUSTOM_FIELD_AMOUNT=
APP_JIRA_REFUND_CUSTOM_FIELD_OPERATION_ID=

APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_STATUS=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_OPEN_STATUS=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_CANCELLED_STATUS=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_CLOSED_STATUS=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_RECEIVED_STATUS=

APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_REJECTION_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_REJECTION_ACCOUNT_CLOSURE_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_REJECTION_CANNOT_REFUND_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_REJECTION_NO_BALANCE_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_REJECTION_OTHER_REASON=

APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_FRAUD_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_OPERATION_FLAW_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_REFUND_CANCELLED_REASON=

# Jira User limit request
APP_JIRA_USER_LIMIT_REQUEST_PROJECT_ID=
APP_JIRA_USER_LIMIT_REQUEST_REPORTER_ID=
APP_JIRA_USER_LIMIT_REQUEST_ISSUE_TYPE_ID=

APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_CLOSED_STATUS=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_RECEIVED_STATUS=

APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_ID=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_USER_ID=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_USER_LIMIT_ID=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_YEARLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MONTHLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_DAILY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_NIGHTLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MAX_AMOUNT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MIN_AMOUNT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MAX_AMOUNT_NIGHTLY=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MIN_AMOUNT_NIGHTLY=
