APP_ENV=
APP_MERCADO_BITCOIN_API_TOKEN_ID=
APP_MERCADO_BITCOIN_API_TOKEN_SECRET=
APP_MERCADO_BITCOIN_BASE_URL=
APP_MERCADO_BITCOIN_WEBSOCKET_URL=
APP_MERCADO_BITCOIN_SUBSCRIBE_TYPE=
APP_MERCADO_BITCOIN_ORDERBOOK_DEPTH=
APP_MERCADO_BITCOIN_ACCOUNT_ID=

APP_STREAM_QUOTATIONS_CACHE_DEFAULT_TTL_MS=10000
