APP_PATH='apps/notifications'
APP_NAME=
APP_ENV=
APP_PORT=

APP_TRANSLATE_PATH=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_notifications
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_notifications
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=NOTIFICATIONS

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_ENCRYPT_PASSWORD=

APP_MATRACA_HOST=
APP_MATRACA_PORT=
APP_MATRACA_DEFAULT_SUBJECT=

APP_ZENVIA_SMS_BASE_URL=
APP_ZENVIA_SMS_AGGREGATE_ID=
APP_ZENVIA_SMS_AUTH=

APP_BULKSMS_SMS_BASE_URL=
APP_BULKSMS_SMS_AUTH=

APP_DOCK_AUTH_BASE_URL=
APP_DOCK_AUTH_CLIENT_ID=
APP_DOCK_AUTH_CLIENT_SECRET=
APP_DOCK_SMS_BASE_URL=
APP_DOCK_SMS_FROM=

APP_CLOUD_MESSAGE_BASE_URL=
APP_CLOUD_MESSAGE_CLIENT_EMAIL=
APP_CLOUD_MESSAGE_PRIVATE_KEY=
