APP_ENV=
APP_PATH='apps/nupay'
APP_NAME=
APP_PORT=

APP_LOG_LEVEL=debug
APP_LOG_SPACE=2

APP_DATABASE_HOST=
APP_DATABASE_PORT
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=
APP_DATABASE_SEEDERS_TABLE=
APP_DATABASE_SSL=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=

APP_NUPAY_HOST=
APP_NUPAY_AUTH_MERCHANT_KEY=
APP_NUPAY_AUTH_MERCHANT_TOKEN=

APP_SYNC_NUPAY_PAYMENT_CRON=
APP_SYNC_NUPAY_PAYMENT_REDIS_KEY='RUNNING_CRON:SYNC_NUPAY_PAYMENT'
APP_SYNC_NUPAY_PAYMENT_REDIS_LOCK_TIMEOUT=120000
APP_SYNC_NUPAY_PAYMENT_REDIS_REFRESH_INTERVAL=60000

APP_SYNC_NUPAY_REFUND_CRON=
APP_SYNC_NUPAY_REFUND_REDIS_KEY='RUNNING_CRON:SYNC_NUPAY_PAYMENT'
APP_SYNC_NUPAY_REFUND_REDIS_LOCK_TIMEOUT=120000
APP_SYNC_NUPAY_REFUND_REDIS_REFRESH_INTERVAL=60000

APP_BUGSNAG_API_KEY=