APP_NAME=
APP_ENV=
APP_PATH=
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=
APP_DATABASE_SEEDERS_TABLE=
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=

# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

# Nighttime start;Nighttime end
# 22:00;06:00 20:00;06:00
APP_NIGHTTIME_INTERVALS=

APP_OPERATION_SYMBOL_CURRENCY_REAL=

# Cache
APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=OPERATIONS

APP_OPERATION_P2P_TRANSFER_TRANSACTION_TAG=

# Default is 10
APP_OPERATION_WALLET_ACTIVE_MAX_NUMBER=

# Wallet invitation
APP_NOTIFICATION_EMAIL_INVITE_TAG=
APP_NOTIFICATION_EMAIL_INVITE_FROM=
APP_NOTIFICATION_EMAIL_URL_INVITE=
APP_OPERATION_EXPIRED_INVITE_H=
APP_SYNC_PENDING_WALLET_INVITATION_CRON=

APP_SYNC_PENDING_WALLET_INVITATION_REDIS_KEY=
APP_SYNC_PENDING_WALLET_INVITATION_REDIS_LOCK_TIMEOUT=
APP_SYNC_PENDING_WALLET_INVITATION_REDIS_REFRESH_INTERVAL=

APP_OPERATION_PERMISSION_TYPE_ROOT_TAG=

APP_OPERATION_ZRO_DEFAULT_WALLET_ID=
APP_OPERATION_GATEWAY_CREDIT_TRANSACTION_TAG=
APP_OPERATION_GATEWAY_DEBIT_TRANSACTION_TAG=

# Crypto transactions
APP_OPERATION_CRYPTO_TRANSACTION_TAGS_FILTER=

# Reports
APP_ZROBANK_ISPB=

# Sync reports accounts closures
APP_SYNC_ACCOUNTS_CLOSURES_REPORTS_CRON=
APP_SYNC_ACCOUNTS_CLOSURES_REPORTS_REDIS_KEY=
APP_SYNC_ACCOUNTS_CLOSURES_REPORTS_REDIS_LOCK_TIMEOUT=
APP_SYNC_ACCOUNTS_CLOSURES_REPORTS_REDIS_REFRESH_INTERVAL=
APP_SYNC_ACCOUNTS_CLOSURES_REPORTS_TRANSACTION_TAG=

# Sync reports assets forfeitures
APP_SYNC_ASSETS_FORFEITURES_REPORTS_CRON=
APP_SYNC_ASSETS_FORFEITURES_REPORTS_REDIS_KEY=
APP_SYNC_ASSETS_FORFEITURES_REPORTS_REDIS_LOCK_TIMEOUT=
APP_SYNC_ASSETS_FORFEITURES_REPORTS_REDIS_REFRESH_INTERVAL=
APP_SYNC_ASSETS_FORFEITURES_REPORTS_TRANSACTION_TAG=

# Sync reports extra credits
APP_SYNC_EXTRA_CREDITS_REPORTS_CRON=
APP_SYNC_EXTRA_CREDITS_REPORTS_REDIS_KEY=
APP_SYNC_EXTRA_CREDITS_REPORTS_REDIS_LOCK_TIMEOUT=
APP_SYNC_EXTRA_CREDITS_REPORTS_REDIS_REFRESH_INTERVAL=
APP_SYNC_EXTRA_CREDITS_REPORTS_TRANSACTION_TAG=

# Sync reports p2p chats
APP_SYNC_P2P_CHATS_REPORTS_CRON=
APP_SYNC_P2P_CHATS_REPORTS_REDIS_KEY=
APP_SYNC_P2P_CHATS_REPORTS_REDIS_LOCK_TIMEOUT=
APP_SYNC_P2P_CHATS_REPORTS_REDIS_REFRESH_INTERVAL=
APP_SYNC_P2P_CHATS_REPORTS_TRANSACTION_TAG=

# Sync reports p2p transfers
APP_SYNC_P2P_TRANSFERS_REPORTS_CRON=
APP_SYNC_P2P_TRANSFERS_REPORTS_REDIS_KEY=
APP_SYNC_P2P_TRANSFERS_REPORTS_REDIS_LOCK_TIMEOUT=
APP_SYNC_P2P_TRANSFERS_REPORTS_REDIS_REFRESH_INTERVAL=
APP_SYNC_P2P_TRANSFERS_REPORTS_TRANSACTION_TAG=

# Sync reports deposits receive
APP_SYNC_DEPOSITS_RECEIVE_REPORTS_CRON=
APP_SYNC_DEPOSITS_RECEIVE_REPORTS_REDIS_KEY=
APP_SYNC_DEPOSITS_RECEIVE_REPORTS_REDIS_LOCK_TIMEOUT=
APP_SYNC_DEPOSITS_RECEIVE_REPORTS_REDIS_REFRESH_INTERVAL=
APP_SYNC_DEPOSITS_RECEIVE_REPORTS_TRANSACTION_TAG=

# Sync reports conversions
APP_SYNC_CONVERSIONS_REPORTS_CRON=
APP_SYNC_CONVERSIONS_REPORTS_REDIS_KEY=
APP_SYNC_CONVERSIONS_REPORTS_REDIS_LOCK_TIMEOUT=
APP_SYNC_CONVERSIONS_REPORTS_REDIS_REFRESH_INTERVAL=
APP_SYNC_CONVERSIONS_REPORTS_TRANSACTION_TAG=

# Sync reports gateway
APP_SYNC_GATEWAY_REPORTS_CRON=
APP_SYNC_GATEWAY_REPORTS_REDIS_KEY=
APP_SYNC_GATEWAY_REPORTS_REDIS_LOCK_TIMEOUT=
APP_SYNC_GATEWAY_REPORTS_REDIS_REFRESH_INTERVAL=
APP_SYNC_GATEWAY_REPORTS_TRANSACTION_TAG=

# User Limit Tracker
APP_SYNC_UPDATE_USER_LIMIT_TRACKER_BY_INTERVAL_CRON=
APP_SYNC_UPDATE_USER_LIMIT_TRACKER_BY_INTERVAL_REDIS_KEY=
APP_SYNC_UPDATE_USER_LIMIT_TRACKER_BY_INTERVAL_REDIS_LOCK_TIMEOUT=
APP_SYNC_UPDATE_USER_LIMIT_TRACKER_BY_INTERVAL_REDIS_REFRESH_INTERVAL=

# Sync create operation index
APP_SYNC_CREATE_OPERATION_INDEX_CRON=
APP_SYNC_CREATE_OPERATION_INDEX_REDIS_KEY=
APP_SYNC_CREATE_OPERATION_INDEX_REDIS_LOCK_TIMEOUT=
APP_SYNC_CREATE_OPERATION_INDEX_REDIS_REFRESH_INTERVAL=

# Sync delete operation index
APP_SYNC_DELETE_OPERATION_INDEX_CRON=
APP_SYNC_DELETE_OPERATION_INDEX_REDIS_KEY=
APP_SYNC_DELETE_OPERATION_INDEX_REDIS_LOCK_TIMEOUT=
APP_SYNC_DELETE_OPERATION_INDEX_REDIS_REFRESH_INTERVAL=
