APP_NAME=
APP_ENV=
APP_PATH='apps/otc'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_otc
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_otc
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_STORAGE_BASE_URL=

# B2C2 service config
APP_B2C2_BASE_URL=
APP_B2C2_WEBSOCKET_URL=
APP_B2C2_AUTH_TOKEN=

# Mercado Bitcoin service config
APP_MERCADO_BITCOIN_BASE_URL=
APP_MERCADO_BITCOIN_API_TOKEN_ID=
APP_MERCADO_BITCOIN_API_TOKEN_SECRET=

# Conversion
APP_OPERATION_CONVERSION_TRANSACTION_TAG='CONV'
APP_OPERATION_SYMBOL_CURRENCY_MID_QUOTE='USD'
APP_OPERATION_CONVERSION_DEPOSIT_DESCRIPTION=
APP_OPERATION_CONVERSION_WITHDRAWAL_DESCRIPTION=

APP_SYNC_MARKETING_PENDING_CRYPTO_ORDERS_INTERVAL_MS=
APP_CONVERSION_ZROBANK_SYSTEM='ZROBANK'

# Cashback
APP_OPERATION_CASHBACK_TRANSACTION_TAG=

# Cache
APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=OTC

APP_SYNC_MARKETING_PENDING_CRYPTO_ORDERS_REDIS_KEY=
APP_SYNC_MARKETING_PENDING_CRYPTO_ORDERS_REDIS_LOCK_TIMEOUT=
APP_SYNC_MARKETING_PENDING_CRYPTO_ORDERS_REDIS_REFRESH_INTERVAL=

#Exchange quotation
APP_ZROBANK_PARTNER_ID=
APP_TOPAZIO_AUTH_BASE_URL=
APP_TOPAZIO_AUTH_CLIENT_ID=
APP_TOPAZIO_AUTH_CLIENT_SECRET=
APP_TOPAZIO_EXCHANGE_QUOTATION_BASE_URL=
APP_TOPAZIO_EXCHANGE_CONTRACT_BASE_URL=
APP_PROMETHEUS_BASE_URL=
APP_PROMETHEUS_PUSHGATEWAY_BASE_URL=

APP_OPERATION_CURRENCY_SYMBOL_USD=

# Crypto report
APP_SYNC_UPDATE_CRYPTO_REPORT_CRON='*/5 * * * *'
APP_MERCADO_BITCOIN_HISTORICAL_PRICE_BASE_URL='https://www.mercadobitcoin.net/api'
APP_SYNC_UPDATE_CRYPTO_REPORT_PAGE_SIZE=
APP_ZROBANK_LOGO_URL='https://www.zrobank.com.br/wp-content/themes/zrobank/assets/images/favico.png'
APP_SYNC_UPDATE_CRYPTO_REPORT_REDIS_KEY='RUNNING_CRON:SYNC_UPDATE_CRYPTO_REPORT'
APP_SYNC_UPDATE_CRYPTO_REPORT_REDIS_LOCK_TIMEOUT=
APP_SYNC_UPDATE_CRYPTO_REPORT_REDIS_REFRESH_INTERVAL=

#Scripts
APP_SCRIPT_UPDATE_WALLET_ACCOUNT_AVG_PRICE_LIMIT_PER_PAGE=100
APP_SCRIPT_UPDATE_WALLET_ACCOUNT_AVG_PRICE_INTERVAL_MS=1000
APP_SCRIPT_FILL_CRYPTO_REPORTS_LIMIT_PER_PAGE=100
APP_SCRIPT_FILL_CRYPTO_REPORTS_INTERVAL_MS=1000

# Remittance
APP_SYNC_CREATE_REMITTANCE_CRON='*/30 * * * * *'
APP_SYNC_CREATE_REMITTANCE_REDIS_KEY=
APP_SYNC_CREATE_REMITTANCE_REDIS_LOCK_TIMEOUT=
APP_SYNC_CREATE_REMITTANCE_REDIS_REFRESH_INTERVAL=

# This cron must run while forex PSP market is open (from 09:00 until 17:00).
APP_SYNC_OPEN_REMITTANCE_CRON='0 0 9-17 * * 1-5'
APP_SYNC_OPEN_REMITTANCE_REDIS_KEY='RUNNING_CRON:SYNC_OPEN_REMITTANCE'
APP_SYNC_OPEN_REMITTANCE_REDIS_LOCK_TIMEOUT=90000
APP_SYNC_OPEN_REMITTANCE_REDIS_REFRESH_INTERVAL=6000

# For each entry, follow the format HH:MM_Dn-Dn. Use ';' to separate entries. Dn-Dn represents the settlement day. 
# Ex.: '09:05_D0-D0;14:31_D1-D1'.
# If empty, the default settlement day will be considered. 
APP_REMITTANCE_PSP_SETTLEMENT_DATE_BY_STARTING_TIME=
APP_REMITTANCE_DEFAULT_SETTLEMENT_DATE=
APP_REMITTANCE_PSP_MARKET_OPEN_TIME=
APP_REMITTANCE_PSP_MARKET_CLOSE_TIME=
APP_REMITTANCE_PSP_MIN_AMOUNT=
APP_REMITTANCE_PSP_MAX_AMOUNT=
APP_REMITTANCE_PSP_MAX_DAILY_AMOUNT=

APP_SYNC_STATE_EXCHANGE_QUOTATION_CRON=
APP_SYNC_STATE_EXCHANGE_QUOTATION_REDIS_KEY=
APP_SYNC_STATE_EXCHANGE_QUOTATION_REDIS_LOCK_TIMEOUT=
APP_SYNC_STATE_EXCHANGE_QUOTATION_REDIS_REFRESH_INTERVAL=

APP_BOT_OTC_SYSTEM_NAME='OTC_BOT'
