APP_ENV=local
APP_NAME='ZROBANK OTC BOT MICROSERVICE'
APP_PATH='apps/otc-bot'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_SCHEMA=
APP_DATABASE_DATABASE=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_SSL=false
APP_DATABASE_MIGRATION_TABLE='sequelize_meta_otc_bot'
APP_DATABASE_SEEDERS_TABLE='sequelize_seeders_otc_bot'
APP_DATABASE_LOG=false

APP_BROKER_HOSTS='localhost:9091'
APP_BROKER_GROUP_ID='otc-bot-microservice'
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL='debug'
APP_LOG_SPACE=2

APP_STORAGE_BASE_URL=

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=OTC-BOT

APP_MERCADO_BITCOIN_BASE_URL=
APP_MERCADO_BITCOIN_API_TOKEN_ID=
APP_MERCADO_BITCOIN_API_TOKEN_SECRET=
APP_MERCADO_BITCOIN_ACCOUNT_ID=

APP_B2C2_BASE_URL=
APP_B2C2_AUTH_TOKEN=
APP_B2C2_WEBSOCKET_URL=

APP_BINANCE_BASE_URL=
APP_BINANCE_WEBSOCKET_URL=
APP_BINANCE_API_KEY=
APP_BINANCE_API_SECRET=
APP_BINANCE_SUBSCRIBE_TYPE=

APP_BOT_OTC_CONTROL_INTERVAL_MS=
APP_BOT_OTC_SYSTEM_NAME='OTC_BOT'
APP_BOT_OTC_ORDER_PENDING_TIMEOUT_MS=
APP_BOT_OTC_ORDER_PENDING_CONTROL_INTERVAL_MS=

APP_SYNC_BOT_OTC_ORDER_PENDING_REDIS_KEY=
APP_SYNC_BOT_OTC_ORDER_PENDING_REDIS_LOCK_TIMEOUT=
APP_SYNC_BOT_OTC_ORDER_PENDING_REDIS_REFRESH_INTERVAL=

APP_SYNC_BOT_OTC_REDIS_KEY=
APP_SYNC_BOT_OTC_REDIS_LOCK_TIMEOUT=
APP_SYNC_BOT_OTC_REDIS_REFRESH_INTERVAL=

APP_SYNC_BOT_OTC_ORDER_FILLED_REDIS_KEY=
APP_SYNC_BOT_OTC_ORDER_FILLED_REDIS_LOCK_TIMEOUT=
APP_SYNC_BOT_OTC_ORDER_FILLED_REDIS_REFRESH_INTERVAL=
APP_SYNC_BOT_OTC_ORDER_FILLED_CRON=

APP_OTC_REMITTANCE_CURRENCY_TAG=
APP_OTC_REMITTANCE_CURRENCY_DECIMAL=
APP_OTC_IOF_NAME=
