APP_NAME=
APP_ENV=
APP_PATH='apps/payments-gateway'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_pix_payments
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_pix_payments
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_BUGSNAG_API_KEY=

APP_PAYMENTS_GATEWAY_BASE_URL=
APP_PAYMENTS_GATEWAY_API_TOKEN=

APP_SYNC_TRANSACTION_CRON=
APP_GET_TRANSACTION_CRON=
APP_TRANSACTIONS_DEFAULT_TTL_MS=

#Default time lock 2min/refresh 1min
APP_SYNC_TRANSACTION_REDIS_KEY=
APP_SYNC_TRANSACTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_TRANSACTION_REDIS_REFRESH_INTERVAL=

APP_GET_TRANSACTION_REDIS_KEY=
APP_GET_TRANSACTION_REDIS_LOCK_TIMEOUT=
APP_GET_TRANSACTION_REDIS_REFRESH_INTERVAL=
