APP_ENV=
APP_PATH='apps/picpay'
APP_NAME=

APP_LOG_LEVEL=debug
APP_LOG_SPACE=2

APP_PORT=

APP_BUGSNAG_API_KEY=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=
APP_DATABASE_SEEDERS_TABLE=
APP_DATABASE_SSL=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=

APP_SYNC_PICPAY_PAYMENT_CRON=
APP_SYNC_PICPAY_PAYMENT_REDIS_KEY='RUNNING_CRON:SYNC_PICPAY_PAYMENT'
APP_SYNC_PICPAY_PAYMENT_REDIS_LOCK_TIMEOUT=120000
APP_SYNC_PICPAY_PAYMENT_REDIS_REFRESH_INTERVAL=60000

APP_PICPAY_HOST=
APP_PICPAY_TOKEN=
APP_PICPAY_CHANNEL=
APP_PICPAY_PURCHASE_MODE=
APP_PICPAY_SOFT_DESCRIPTOR=