APP_NAME=
APP_ENV=
APP_PATH=apps/pix-payments
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_pix_payments
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_pix_payments
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

# Cron variables
APP_SYNC_SCHEDULED_PAYMENT_CRON=
APP_SYNC_WAITING_PAYMENT_CRON=
APP_SYNC_WAITING_PIX_DEVOLUTION_CRON=
APP_SYNC_WAITING_WARNING_PIX_DEVOLUTION_CRON=
APP_SYNC_WAITING_PIX_REFUND_DEVOLUTION_CRON=

# Operation integration for create payment
APP_OPERATION_CURRENCY_TAG=
APP_OPERATION_DESCRIPTION=
APP_OPERATION_SEND_ACCOUNT_TRANSACTION_TAG=
APP_OPERATION_SEND_KEY_TRANSACTION_TAG=
APP_OPERATION_SEND_QRS_TRANSACTION_TAG=
APP_OPERATION_WITHDRAWAL_QRS_TRANSACTION_TAG=
APP_OPERATION_SEND_QRD_TRANSACTION_TAG=
APP_OPERATION_WITHDRAWAL_QRD_TRANSACTION_TAG=
APP_OPERATION_CHANGE_QRD_TRANSACTION_TAG=
APP_OPERATION_DUEDATE_QRD_TRANSACTION_TAG=
APP_OPERATION_PIX_CHANGE_TRANSACTION_TAG=
APP_ZROBANK_ISPB=
APP_AGENT_MOD_WITHDRAWAL=
APP_AGENT_MOD_CHANGE=

# Operation integration for create devolution received
APP_OPERATION_PIX_DEVOLUTION_RECEIVED_TRANSACTION_TAG=

# Topazio auth service config
APP_TOPAZIO_AUTH_BASE_URL=
APP_TOPAZIO_AUTH_CLIENT_ID=
APP_TOPAZIO_AUTH_CLIENT_SECRET=


# Topazio kyc service config
APP_TOPAZIO_KYC_BASE_URL=

# maximum number for creating devolutions (default 0 means unlimited)
APP_PIX_DEVOLUTION_MAX_NUMBER=
APP_PIX_REFUND_DEVOLUTION_MAX_NUMBER=
APP_PIX_DEPOSIT_DEVOLUTION_INTERVAL_DAYS=1
APP_PIX_TRANSACTION_REFUND_DEVOLUTION_INTERVAL_DAYS=3

# Operation integration for create devolution
APP_OPERATION_SEND_DEVOLUTION_TRANSACTION_TAG=
APP_OPERATION_PIX_RECEIVED_DEPOSIT_TRANSACTION_TAG=
APP_OPERATION_REFUND_TRANSACTION_TAG=
APP_OPERATION_SEND_PIX_REFUND_DEVOLUTION_TRANSACTION_TAG=

# Translate path
APP_TRANSLATE_PATH=apps/pix-payments/assets/i18n

# Jira
APP_JIRA_PROTOCOL=
APP_JIRA_BASE_URL=
APP_JIRA_PORT=
APP_JIRA_AUTH_USER=
APP_JIRA_AUTH_TOKEN=

# Jira Infraction
APP_JIRA_INFRACTION_REPORTER_ID=
APP_JIRA_INFRACTION_PROJECT_ID=
APP_JIRA_INFRACTION_ISSUE_TYPE_ID=
APP_JIRA_INFRACTION_DUE_DATE=

APP_JIRA_INFRACTION_CUSTOM_FIELD_OPERATION_ID=
APP_JIRA_INFRACTION_CUSTOM_FIELD_END_TO_END_ID=
APP_JIRA_INFRACTION_CUSTOM_FIELD_INFRACTION_ID=
APP_JIRA_INFRACTION_CUSTOM_FIELD_DEBITED_PARTICIPANT=
APP_JIRA_INFRACTION_CUSTOM_FIELD_CREDIT_PARTICIPANT=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REASON=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REASON_FRAUD=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REASON_REQUEST_REFUND=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REASON_CANCEL_DEVOLUTION=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REPORTER=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REPORTER_DEBITED_PARTICIPANT=
APP_JIRA_INFRACTION_CUSTOM_FIELD_REPORTER_CREBITED_PARTICIPANT=
APP_JIRA_INFRACTION_CUSTOM_FIELD_RESOLUTION=
APP_JIRA_INFRACTION_CUSTOM_FIELD_RESOLUTION_AGREE=
APP_JIRA_INFRACTION_CUSTOM_FIELD_RESOLUTION_DISAGREE=

APP_JIRA_INFRACTION_TRANSITION_CREATE=
APP_JIRA_INFRACTION_TRANSITION_OPEN=
APP_JIRA_INFRACTION_TRANSITION_RECEIVE=
APP_JIRA_INFRACTION_TRANSITION_IN_ANALYSIS=
APP_JIRA_INFRACTION_TRANSITION_CLOSE=
APP_JIRA_INFRACTION_TRANSITION_ACK_RECEIVED=
APP_JIRA_INFRACTION_TRANSITION_CANCEL=
APP_JIRA_INFRACTION_TRANSITION_OPEN_FAIL=

# Jira Refund
APP_JIRA_REFUND_REPORTER_ID=
APP_JIRA_REFUND_PROJECT_ID=
APP_JIRA_REFUND_ISSUE_TYPE_ID=

APP_JIRA_REFUND_CUSTOM_FIELD_OPERATION_ID=
APP_JIRA_REFUND_CUSTOM_FIELD_END_TO_END_ID=
APP_JIRA_REFUND_CUSTOM_FIELD_AMOUNT=

APP_JIRA_REFUND_CUSTOM_FIELD_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_FRAUD_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_OPERATION_FLAW_REASON=
APP_JIRA_REFUND_CUSTOM_FIELD_CANCELLED_REASON=

APP_JIRA_REFUND_TRANSITION_CANCELLED=
APP_JIRA_REFUND_TRANSITION_CLOSED=
APP_JIRA_REFUND_TRANSITION_RECEIVED=

# Warning Pix Deposit
APP_WARNING_PIX_DEPOSIT_CEF_ISPB=
APP_WARNING_PIX_DEPOSIT_SANTANDER_ISPB=
APP_WARNING_PIX_DEPOSIT_MIN_AMOUNT=
APP_WARNING_PIX_DEPOSIT_SANTANDER_CNPJ=
APP_WARNING_PIX_DEPOSIT_MAX_OCCUPATION_INCOME=
APP_WARNING_PIX_DEPOSIT_MIN_AMOUNT_TO_WARNING_INCOME=
APP_WARNING_PIX_DEPOSIT_RECEITA_FEDERAL_CNPJ=
APP_WARNING_PIX_DEPOSIT_SKIP_LIST_TTL=
APP_WARNING_PIX_DEPOSIT_HASH_TTL=
APP_WARNING_PIX_DEPOSIT_RECEIVED_DEPOSIT_TTL=

#Warning Pix Devolution
APP_JIRA_MESSAGE_USER_REQUEST_WARNING_PIX_DEVOLUTION=

APP_SYNC_SCHEDULED_PAYMENT_REDIS_KEY=
APP_SYNC_SCHEDULED_PAYMENT_REDIS_LOCK_TIMEOUT=
APP_SYNC_SCHEDULED_PAYMENT_REDIS_REFRESH_INTERVAL=

APP_SYNC_WAITING_PAYMENT_REDIS_KEY=
APP_SYNC_WAITING_PAYMENT_REDIS_LOCK_TIMEOUT=
APP_SYNC_WAITING_PAYMENT_REDIS_REFRESH_INTERVAL=

APP_SYNC_WAITING_PIX_DEVOLUTION_REDIS_KEY=
APP_SYNC_WAITING_PIX_DEVOLUTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_WAITING_PIX_DEVOLUTION_REDIS_REFRESH_INTERVAL=

APP_SYNC_WAITING_PIX_REFUND_DEVOLUTION_REDIS_KEY=
APP_SYNC_WAITING_PIX_REFUND_DEVOLUTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_WAITING_PIX_REFUND_DEVOLUTION_REDIS_REFRESH_INTERVAL=

APP_SYNC_WAITING_WARNING_PIX_DEVOLUTION_REDIS_KEY=
APP_SYNC_WAITING_WARNING_PIX_DEVOLUTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_WAITING_WARNING_PIX_DEVOLUTION_REDIS_REFRESH_INTERVAL=


# Jdpi service config
APP_JDPI_BASE_URL=
APP_JDPI_AUTH_CLIENT_ID=
APP_JDPI_AUTH_CLIENT_SECRET=
APP_OPEN_BANKING_BASE_URL=

# Primary Priority Pix Payments
APP_PIX_PAYMENT_UPDATED_AT_THRESHOLD_SECONDS=
APP_SYNC_WAITING_RECENT_PIX_PAYMENT_CRON=
APP_SYNC_WAITING_RECENT_PIX_PAYMENT_REDIS_KEY=
APP_SYNC_WAITING_RECENT_PIX_PAYMENT_REDIS_LOCK_TIMEOUT=
APP_SYNC_WAITING_RECENT_PIX_PAYMENT_REDIS_REFRESH_INTERVAL=
APP_SYNC_WAITING_RECENT_PIX_DEVOLUTION_CRON=
APP_SYNC_WAITING_RECENT_PIX_DEVOLUTION_REDIS_KEY=
APP_SYNC_WAITING_RECENT_PIX_DEVOLUTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_WAITING_RECENT_PIX_DEVOLUTION_REDIS_REFRESH_INTERVAL=
APP_SYNC_WAITING_RECENT_PIX_REFUND_DEVOLUTION_CRON=
APP_SYNC_WAITING_RECENT_PIX_REFUND_DEVOLUTION_REDIS_KEY=
APP_SYNC_WAITING_RECENT_PIX_REFUND_DEVOLUTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_WAITING_RECENT_PIX_REFUND_DEVOLUTION_REDIS_REFRESH_INTERVAL=
APP_SYNC_WAITING_RECENT_WARNING_PIX_DEVOLUTION_CRON=
APP_SYNC_WAITING_RECENT_WARNING_PIX_DEVOLUTION_REDIS_KEY=
APP_SYNC_WAITING_RECENT_WARNING_PIX_DEVOLUTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_WAITING_RECENT_WARNING_PIX_DEVOLUTION_REDIS_REFRESH_INTERVAL=

# Jira Pix Fraud Detection
APP_SYNC_PIX_FRAUD_DETECTION_CRON=
APP_SYNC_PIX_FRAUD_DETECTION_REDIS_KEY=
APP_SYNC_PIX_FRAUD_DETECTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_PIX_FRAUD_DETECTION_REDIS_REFRESH_INTERVAL=
APP_JIRA_PIX_FRAUD_DETECTION_PROJECT_ID=
APP_JIRA_PIX_FRAUD_DETECTION_REPORTER_ID=
APP_JIRA_PIX_FRAUD_DETECTION_ISSUE_TYPE_ID=
APP_JIRA_PIX_FRAUD_DETECTION_EXTERNAL_ID=
APP_JIRA_PIX_FRAUD_DETECTION_DOCUMENT=
APP_JIRA_PIX_FRAUD_DETECTION_FRAUD_TYPE=
APP_JIRA_PIX_FRAUD_DETECTION_FRAUD_TYPE_FALSE_IDENTIFICATION=
APP_JIRA_PIX_FRAUD_DETECTION_FRAUD_TYPE_DUMMY_ACCOUNT=
APP_JIRA_PIX_FRAUD_DETECTION_FRAUD_TYPE_FRAUDSTER_ACCOUNT=
APP_JIRA_PIX_FRAUD_DETECTION_FRAUD_TYPE_OTHER=
APP_JIRA_PIX_FRAUD_DETECTION_KEY=
APP_JIRA_PIX_FRAUD_DETECTION_STATUS_REGISTERED=
APP_JIRA_PIX_FRAUD_DETECTION_STATUS_RECEIVED=
APP_JIRA_PIX_FRAUD_DETECTION_STATUS_CANCELED=
APP_JIRA_PIX_FRAUD_DETECTION_STATUS_NEW=
APP_JIRA_PIX_FRAUD_DETECTION_TRANSITION_CANCEL_RECEIVED=
APP_JIRA_PIX_FRAUD_DETECTION_TRANSITION_CANCEL_REGISTERED=
APP_JIRA_PIX_FRAUD_DETECTION_TRANSITION_RECEIVED=

APP_SYNC_PIX_REFUND_CRON=
APP_SYNC_PIX_REFUND_REDIS_KEY=
APP_SYNC_PIX_REFUND_REDIS_LOCK_TIMEOUT=
APP_SYNC_PIX_REFUND_REDIS_REFRESH_INTERVAL=

APP_SYNC_PIX_INFRACTION_CRON=
APP_SYNC_PIX_INFRACTION_REDIS_KEY=
APP_SYNC_PIX_INFRACTION_REDIS_LOCK_TIMEOUT=
APP_SYNC_PIX_INFRACTION_REDIS_REFRESH_INTERVAL=