APP_NAME=
APP_ENV=
APP_PATH='apps/pix-keys'
APP_PORT=

APP_ZROBANK_ISPB=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_pix_keys
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_pix_keys
APP_DATABASE_SSL=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_SYNC_PENDING_CRON=
# 30 minutes; value in seconds
APP_SYNC_PENDING_TIMESTAMP_CRON=1800
APP_SYNC_CLAIM_PENDING_CRON=
APP_SYNC_PORTABILITY_REQUEST_PENDING_CRON=
# 7 days; value in seconds
APP_SYNC_CLAIM_PENDING_TIMESTAMP_CRON=604800
APP_SYNC_OWNERSHIP_PENDING_CRON=
APP_SYNC_PORTABILITY_REQUEST_PENDING_TIMESTAMP_CRON=
# 30 days; value in seconds
APP_SYNC_OWNERSHIP_PENDING_TIMESTAMP_CRON=2592000

# E-mail template tag. This e-mail is sent to verify pix key (type=EMAIL).
APP_PIX_KEY_SEND_CODE_EMAIL_TAG=
# E-mail from. This e-mail is sent to verify pix key (type=EMAIL).
APP_PIX_KEY_SEND_CODE_EMAIL_FROM=
# SMS template tag. This SMS is sent to verify pix key (type=PHONE).
APP_PIX_KEY_SEND_CODE_SMS_TAG=
# Enable auto portability request confirmation (default: true).
APP_PIX_KEY_ENABLE_AUTO_APPROVE_PORTABILITY_REQUEST=

# Translate path
APP_TRANSLATE_PATH=apps/pix-keys/assets/i18n

# 24 hs; value in miliseconds
APP_PIX_DECODED_KEY_CACHE_TTL_MS=86400000

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=PIX_KEYS

APP_SYNC_CLAIM_PENDING_REDIS_KEY=
APP_SYNC_CLAIM_PENDING_REDIS_LOCK_TIMEOUT=
APP_SYNC_CLAIM_PENDING_REDIS_REFRESH_INTERVAL=

APP_SYNC_OWNERSHIP_PENDING_REDIS_KEY=
APP_SYNC_OWNERSHIP_PENDING_REDIS_LOCK_TIMEOUT=
APP_SYNC_OWNERSHIP_PENDING_REDIS_REFRESH_INTERVAL=

APP_SYNC_PENDING_PIX_KEY_REDIS_KEY=
APP_SYNC_PENDING_PIX_KEY_REDIS_LOCK_TIMEOUT=
APP_SYNC_PENDING_PIX_KEY_REDIS_REFRESH_INTERVAL=

APP_SYNC_PORTABILITY_REQUEST_PENDING_REDIS_KEY=
APP_SYNC_PORTABILITY_REQUEST_PENDING_REDIS_LOCK_TIMEOUT=
APP_SYNC_PORTABILITY_REQUEST_PENDING_REDIS_REFRESH_INTERVAL=

APP_NATURAL_PERSON_MAX_NUMBER_OF_KEYS=5
APP_LEGAL_PERSON_MAX_NUMBER_OF_KEYS=20

# Jdpi service config
APP_JDPI_BASE_URL=http://localhost:7010/jdpi
APP_JDPI_AUTH_CLIENT_ID=secret
APP_JDPI_AUTH_CLIENT_SECRET=secret

APP_SYNC_GET_ALL_PIX_KEY_CLAIM_CRON=
APP_SYNC_GET_ALL_PIX_KEY_CLAIM_PAGE_SIZE=
APP_SYNC_GET_ALL_PIX_KEY_CLAIM_LIMIT_DAY=
APP_SYNC_GET_ALL_PIX_KEY_REDIS_KEY=
APP_SYNC_GET_ALL_PIX_KEY_REDIS_LOCK_TIMEOUT=
APP_SYNC_GET_ALL_PIX_KEY_REDIS_REFRESH_INTERVAL=

APP_SYNC_PORTABILITY_PENDING_CRON=
APP_SYNC_PORTABILITY_PENDING_TIMESTAMP_CRON=
APP_SYNC_PORTABILITY_PENDING_REDIS_KEY=
APP_SYNC_PORTABILITY_PENDING_REDIS_LOCK_TIMEOUT=
APP_SYNC_PORTABILITY_PENDING_REDIS_REFRESH_INTERVAL=

# Decoded Pix Key Bucket Limits
APP_DECODED_PIX_BUCKET_TEMPORAL_INCREMENT=
APP_DECODED_PIX_BUCKET_TEMPORAL_INCREMENT_INTERVAL=
APP_DECODED_PIX_BUCKET_VALID_TRY_DECREMENT_OR_INCREMENT=
APP_DECODED_PIX_BUCKET_INVALID_TRY_DECREMENT=

APP_OPEN_BANKING_BASE_URL=