APP_NAME=
APP_ENV=
APP_PATH='apps/pix-zro-pay'

APP_DATABASE_HOST=localhost
APP_DATABASE_PORT=5432
APP_DATABASE_USERNAME=postgres
APP_DATABASE_PASSWORD=postgres
APP_DATABASE_DATABASE=pix
APP_DATABASE_SCHEMA=public
APP_DATABASE_LOG=true
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_pix_zro_pay
APP_DATABASE_SEEDERS_TABLE=
APP_DATABASE_SSL=

APP_BROKER_HOSTS='localhost:9091'
APP_BROKER_GROUP_ID=pix-zro-pay-microservice
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=debug
APP_LOG_SPACE=2

APP_REDIS_KEY_PREFIX=
APP_REDIS_HOST=

APP_BUGSNAG_API_KEY=

APP_QR_CODE_EXPIRATION_IN_SECONDS=
APP_QR_CODE_DEFAULT_TTL_MS=

APP_ASAAS_API_TOKEN=
APP_ASAAS_PIX_PAYMENT_BASE_URL=

APP_GENIAL_AUTH_BASE_URL=
APP_GENIAL_AUTH_TOKEN=
APP_GENIAL_PIX_PAYMENT_BASE_URL=
APP_GENIAL_QR_CODE_ACCOUNT_HOLDER_NAME=
APP_GENIAL_QR_CODE_ACCOUNT_HOLDER_CITY=
APP_GENIAL_QR_CODE_CNPJ_ZRO=

APP_ZROBANK_API_PAAS_ID=
APP_ZROBANK_API_PAAS_KEY=
APP_ZROBANK_API_PAAS_BASE_URL=
