APP_ENV=
APP_NAME=
APP_PATH='apps/quotations'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_SCHEMA=
APP_DATABASE_DATABASE=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_SSL=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_quotations
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_quotations
APP_DATABASE_LOG=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_REDIS_HOST=
APP_REDIS_KEY_PREFIX=QUOTATIONS

APP_STREAM_QUOTATIONS_INTERVAL_MS=
# default 10000 ms
APP_QUOTATIONS_CACHE_DEFAULT_TTL_MS=
# default 10000 ms
APP_STREAM_QUOTATIONS_CACHE_DEFAULT_TTL_MS=
APP_STREAM_QUOTATIONS_DISABLE_GATEWAYS=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_APILAYER_BASE_URL=
APP_APILAYER_ACCESS_KEY=

APP_B2C2_BASE_URL=
APP_B2C2_WEBSOCKET_URL=
APP_B2C2_AUTH_TOKEN=

APP_BINANCE_BASE_URL=
APP_BINANCE_WEBSOCKET_URL=
APP_BINANCE_API_KEY=
APP_BINANCE_API_SECRET=
APP_BINANCE_SUBSCRIBE_TYPE=

APP_MERCADO_BITCOIN_BASE_URL=
APP_MERCADO_BITCOIN_WEBSOCKET_URL=
# Possible values: ticker, orderbook or trades
APP_MERCADO_BITCOIN_SUBSCRIBE_TYPE=
# Available only for orderbook.
# Possible values: 10, 20, 50, 100, 200.
# Default: 50
APP_MERCADO_BITCOIN_ORDERBOOK_DEPTH=50

APP_OPERATION_CURRENCY_SYMBOL=BRL
APP_OTC_IOF_NAME=IOF

APP_BUGSNAG_API_KEY='111111111111111111'

APP_EXCHANGE=ZRO
APP_INSTANCE_ID=1
APP_SYNC_CURRENCY_STREAM_QUOTATIONS_INTERVAL_MS=5000

APP_PROMETHEUS_BASE_URL=http://localhost:8002
APP_PROMETHEUS_PUSHGATEWAY_BASE_URL=http://localhost:8003

APP_SYNC_CURRENCY_STREAM_QUOTATIONS_REDIS_KEY=
APP_SYNC_CURRENCY_STREAM_QUOTATIONS_REDIS_LOCK_TIMEOUT=
APP_SYNC_CURRENCY_STREAM_QUOTATIONS_REDIS_REFRESH_INTERVAL=

APP_SYNC_STREAM_QUOTATIONS_REDIS_KEY=
APP_SYNC_STREAM_QUOTATIONS_REDIS_LOCK_TIMEOUT=
APP_SYNC_STREAM_QUOTATIONS_REDIS_REFRESH_INTERVAL=

APP_SYNC_GATEWAY_STREAM_QUOTATIONS_REDIS_KEY=
APP_SYNC_GATEWAY_STREAM_QUOTATIONS_REDIS_LOCK_TIMEOUT=
APP_SYNC_GATEWAY_STREAM_QUOTATIONS_REDIS_REFRESH_INTERVAL=
