APP_NAME=
APP_ENV=
APP_PATH=
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=
APP_DATABASE_SEEDERS_TABLE=
APP_DATABASE_SSL=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
APP_LOG_SPACE=

APP_BUGSNAG_API_KEY=

APP_OPERATION_CURRENCY_TAG=
APP_ZROBANK_ISPB=

APP_REDIS_HOST=localhost
APP_REDIS_KEY_PREFIX='REPORTS'

# Card operations
APP_SYNC_CARD_OPERATION_CRON=
APP_SYNC_CARD_OPERATION_REDIS_KEY=
APP_SYNC_CARD_OPERATION_REDIS_LOCK_TIMEOUT=
APP_SYNC_CARD_OPERATION_REDIS_REFRESH_INTERVAL=
APP_CARD_OPERATION_TAGS=

# TED operations
APP_SYNC_TED_OPERATION_CRON=
APP_SYNC_TED_OPERATION_REDIS_KEY=
APP_SYNC_TED_OPERATION_REDIS_LOCK_TIMEOUT=
APP_SYNC_TED_OPERATION_REDIS_REFRESH_INTERVAL=
APP_TED_OPERATION_TAGS=
APP_TED_RECEIVE_TAG=
APP_TED_SENT_TAG=

# Bank Billet operations
APP_SYNC_BANK_BILLET_OPERATION_CRON=
APP_SYNC_BANK_BILLET_OPERATION_REDIS_KEY=
APP_SYNC_BANK_BILLET_OPERATION_REDIS_LOCK_TIMEOUT=
APP_SYNC_BANK_BILLET_OPERATION_REDIS_REFRESH_INTERVAL=
APP_BANK_BILLET_OPERATION_TAGS=

# Sync reports users
APP_SYNC_REPORTS_USERS_CRON=
APP_SYNC_REPORTS_USERS_REDIS_KEY=
APP_SYNC_REPORTS_USERS_REDIS_LOCK_TIMEOUT=
APP_SYNC_REPORTS_USERS_REDIS_REFRESH_INTERVAL=
APP_SYNC_REPORTS_USERS_FILE_NAME=

# Sync reports users legal representor
APP_SYNC_REPORTS_USERS_LEGAL_REPRESENTOR_CRON=
APP_SYNC_REPORTS_USERS_LEGAL_REPRESENTOR_REDIS_KEY=
APP_SYNC_REPORTS_USERS_LEGAL_REPRESENTOR_REDIS_LOCK_TIMEOUT=
APP_SYNC_REPORTS_USERS_LEGAL_REPRESENTOR_REDIS_REFRESH_INTERVAL=

# Sync reports user configs
APP_SYNC_REPORTS_USER_CONFIGS_CRON=
APP_SYNC_REPORTS_USER_CONFIGS_REDIS_KEY=
APP_SYNC_REPORTS_USER_CONFIGS_REDIS_LOCK_TIMEOUT=
APP_SYNC_REPORTS_USER_CONFIGS_REDIS_REFRESH_INTERVAL=
APP_SYNC_REPORTS_USER_CONFIGS_FILE_NAME=

# Sync reports holders
APP_SYNC_REPORTS_HOLDERS_CRON=
APP_SYNC_REPORTS_HOLDERS_REDIS_KEY=
APP_SYNC_REPORTS_HOLDERS_REDIS_LOCK_TIMEOUT=
APP_SYNC_REPORTS_HOLDERS_REDIS_REFRESH_INTERVAL=
APP_SYNC_REPORTS_HOLDERS_FILE_NAME=

# Sync reports payments account holder
APP_SYNC_REPORTS_PAYMENTS_ACCOUNT_HOLDER_CRON=
APP_SYNC_REPORTS_PAYMENTS_ACCOUNT_HOLDER_REDIS_KEY=
APP_SYNC_REPORTS_PAYMENTS_ACCOUNT_HOLDER_REDIS_LOCK_TIMEOUT=
APP_SYNC_REPORTS_PAYMENTS_ACCOUNT_HOLDER_REDIS_REFRESH_INTERVAL=
APP_SYNC_REPORTS_PAYMENTS_ACCOUNT_HOLDER_FILE_NAME=

APP_EGUARDIAN_EXPORT_EXTERNAL_DESTINATION=