APP_NAME=
APP_ENV=
APP_PATH=
APP_PORT=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_SCHEMA=
APP_DATABASE_DATABASE=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_SSL=
APP_DATABASE_MIGRATION_TABLE=
APP_DATABASE_SEEDERS_TABLE=
APP_DATABASE_LOG=
APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

# default 10
APP_SIGNUP_SALT_ROUNDS=

# default 3
APP_SIGNUP_MAX_NUMBER_OF_ATTEMPTS=

APP_SIGNUP_EMAIL_TAG=
APP_SIGNUP_EMAIL_FROM=

