APP_NAME=
APP_ENV=
APP_PATH=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_DATABASE=
APP_DATABASE_SCHEMA=
APP_DATABASE_LOG=
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=
APP_DATABASE_SEEDERS_TABLE=
APP_DATABASE_SSL=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_PORT=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_MULTER_DEST=
APP_GATEWAY_FILE_STORAGE_DEST=

APP_AWS_BUCKET_NAME=
APP_AWS_ACCESS_KEY_ID=
APP_AWS_SECRET_ACCESS_KEY=
APP_AWS_REGION_NAME=
