APP_ENV=

# Topazio auth service config
APP_TOPAZIO_AUTH_BASE_URL=
APP_TOPAZIO_AUTH_CLIENT_ID=
APP_TOPAZIO_AUTH_CLIENT_SECRET=

# Topazio pix dict service config
APP_TOPAZIO_PIX_DICT_BASE_URL=

# Topazio pix payment service config
APP_TOPAZIO_PIX_PAYMENT_BASE_URL=

# Topazio kyc service config
APP_TOPAZIO_KYC_BASE_URL=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=
