APP_LOG_SPACE=2
APP_LOG_DEPTH=100
APP_LOG_LEVEL=debug

APP_PATH='scripts/update-user-limit-tracker'
APP_NAME=ZROBANK UPDATE USER LIMIT TRACKER SCRIPT
APP_ENV=

APP_DATABASE_HOST=localhost
APP_DATABASE_PORT=5432
APP_DATABASE_USERNAME=postgres
APP_DATABASE_PASSWORD=postgres
APP_DATABASE_DATABASE=pix
APP_DATABASE_SCHEMA=public
APP_DATABASE_LOG=true
APP_DATABASE_DEBUG=true
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_scripts
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_scripts
APP_DATABASE_SSL=
