APP_NAME=
APP_ENV=
APP_PATH='apps/users'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_SCHEMA=
APP_DATABASE_DATABASE=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_SSL=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_users
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_users
APP_DATABASE_LOG=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_SYNC_USER_CRON=
APP_SYNC_USER_EXPIRATION_IN_MINUTES=

APP_USER_SEND_CODE_AUTH_SMS_TAG=

# Jira User limit request
APP_JIRA_USER_LIMIT_REQUEST_PROJECT_ID=
APP_JIRA_USER_LIMIT_REQUEST_REPORTER_ID=
APP_JIRA_USER_LIMIT_REQUEST_ISSUE_TYPE_ID=

APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_CLOSED_STATUS=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_RECEIVED_STATUS=

APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_USER_ID=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_USER_LIMIT_ID=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_YEARLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MONTHLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_DAILY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_NIGHTLY_LIMIT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MAX_AMOUNT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MIN_AMOUNT=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MAX_AMOUNT_NIGHTLY=
APP_JIRA_USER_LIMIT_REQUEST_CUSTOM_FIELD_MIN_AMOUNT_NIGHTLY=

# ReferralReward
APP_REFERRAL_REWARD_VALID_CONVERSION_TRANSACTION_TAG=CONV
APP_REFERRAL_REWARD_MIN_LENGTH=3
APP_REFERRAL_REWARD_MIN_ACCOUNT_CREATED_AT_IN_MONTH=12
APP_REFERRAL_REWARD_CASHBACK_AMOUNT_BPS=10

APP_SYNC_REFERRAL_REWARD_CONVERSION_CASHBACK_CRON="0 0 0 * * *"
APP_SYNC_REFERRAL_REWARD_CONVERSION_CASHBACK_TRANSACTION_TAG='Conversion: referral award'
APP_SYNC_REFERRAL_REWARD_INTERVAL_START_DAYS=3
APP_SYNC_REFERRAL_REWARD_INTERVAL_END_DAYS=1
APP_SYNC_REFERRAL_REWARD_CONVERSION_CASHBACK_CURRENCY_SYMBOL=BTC
APP_SYNC_REFERRAL_REWARD_CONVERSION_CURRENCY_SYMBOL=BRL

APP_SYNC_USER_FORGOT_PASSWORD_PENDING_CRON="0 */1 * * * *"
APP_SYNC_USER_FORGOT_PASSWORD_PENDING_TIMESTAMP_CRON=600

APP_SYNC_USER_FORGOT_PASSWORD_PENDING_REDIS_KEY=
APP_SYNC_USER_FORGOT_PASSWORD_PENDING_REDIS_LOCK_TIMEOUT=
APP_SYNC_USER_FORGOT_PASSWORD_PENDING_REDIS_REFRESH_INTERVAL=

APP_SYNC_REFERRAL_REWARD_CONVERSION_CASHBACK_REDIS_KEY=
APP_SYNC_REFERRAL_REWARD_CONVERSION_CASHBACK_REDIS_LOCK_TIMEOUT=
APP_SYNC_REFERRAL_REWARD_CONVERSION_CASHBACK_REDIS_REFRESH_INTERVAL=

APP_SYNC_USER_REDIS_KEY=
APP_SYNC_USER_REDIS_LOCK_TIMEOUT=
APP_SYNC_USER_REDIS_REFRESH_INTERVAL=

APP_SYNC_USER_ACTIVE_CRON="0 17 * * * *"
APP_SYNC_USER_ACTIVE_REDIS_KEY=
APP_SYNC_USER_ACTIVE_REDIS_LOCK_TIMEOUT=
APP_SYNC_USER_ACTIVE_REDIS_REFRESH_INTERVAL=

APP_USER_FORGOT_PASSWORD_EMAIL_TAG=
APP_USER_FORGOT_PASSWORD_EMAIL_FROM=
