APP_ENV=
APP_NAME=
APP_PATH='apps/utils'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_SCHEMA=
APP_DATABASE_DATABASE=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_SSL=
APP_DATABASE_MIGRATION_TABLE='sequelize_meta_utils'
APP_DATABASE_SEEDERS_TABLE='sequelize_meta_utils'
APP_DATABASE_LOG=
APP_DATABASE_POOL_MAX=
APP_DATABASE_POOL_ACQUIRE=
APP_DATABASE_POOL_IDLE=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=
APP_BROKER_MAX_RETRY_TIME=
APP_BROKER_INITIAL_RETRY_TIME=
APP_BROKER_RETRIES=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

# Minimal tick time between retries in milliseconds.
# Default: 100
APP_RETRY_INTERVAL_MS=

# User withdraw setting
APP_SYNC_USER_WITHDRAW_SETTING_DAILY_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_BALANCE_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_DAY_5_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_DAY_15_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_DAY_25_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_MONDAY_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_TUESDAY_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_WEDNESDAY_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_THURSDAY_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_FRIDAY_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_SATURDAY_CRON=
APP_SYNC_USER_WITHDRAW_SETTING_SUNDAY_CRON=
APP_PIX_PAYMENT_OPERATION_CURRENCY_TAG=
