APP_NAME='ZROBANK WEBHOOKS MICROSERVICE'
APP_ENV=
APP_PATH='apps/webhooks'
APP_PORT=

APP_DATABASE_HOST=
APP_DATABASE_PORT=
APP_DATABASE_SCHEMA=
APP_DATABASE_DATABASE=
APP_DATABASE_USERNAME=
APP_DATABASE_PASSWORD=
APP_DATABASE_SSL=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_webhooks
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_webhooks
APP_DATABASE_LOG=

APP_BROKER_HOSTS=
APP_BROKER_GROUP_ID=

APP_LOG_LEVEL=
# Space to format the output log (default 0 means inline log, recommended 2 for development)
APP_LOG_SPACE=
APP_LOG_DEPTH=

APP_ENCRYPT_PASSWORD=

APP_RETRY_MIN_SECONDS=
APP_RETRY_MAX_SECONDS=
